[user]
	name = Graham McGregor
	email = graham@gmcgregor.ca

[init]
	defaultBranch = main

[color]
	interactive = true

# make untracked and changes visibly different
[color "status"]
	added = green bold
	changed = red bold
	untracked = cyan

[color "branch"]
	current = green bold
	local = bold
	remote = red bold

[color "grep"]
	match = cyan

[pager]
	color = true

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[alias]
	# This is about a mindset shift. 'git blame' can used to understand more
	# context why a change was made and 'blame' has an unnecessary negative
	# connotation to it.
	praise = blame
	gui-praise = gui blame
	l = log --graph --stat --find-copies --decorate
	bl = "!f(){ git merge-base origin/HEAD HEAD | xargs -I{} git l {}..HEAD $@; }; f"
	d = diff
	dc = diff --cached
	dw = diff --word-diff
	s = status -s
	co = checkout
	b = branch
	ri = rebase --interactive --autostash
	pu = "!f(){ git push -u origin $(git branch --show-current):$(git branch --show-current); }; f"
	# pretty print short log
	sl = log --pretty=format:'\
%C(red)%h %Creset\
%<(62,trunc)%C(normal)%s %Creset\
%C(bold blue)(%Creset\
%C(green)%an %Creset\
%C(bold blue)%cr)%Creset\
' --color --graph
	oops = commit --amend --no-edit
	# create a Formating commit that only adds trailing whitespace changes
	whitespace-eol-commit = !bash ~/.git-alias-scripts/whitespace-eol-commit.sh
	# Requires the environment variable JIRA_URL to be set
	jira-commit = !bash ~/.git-alias-scripts/jira-commit.sh
	standup = log --all --since=yesterday --author='Graham McGregor'
	# Given a branch, outputs number of commits ahead / behind
	separation = !bash ~/.git-alias-scripts/separation.sh
	# credit to http://stackoverflow.com/a/4991675 for oldest-ancestor
	oldest-ancestor = !bash -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-origin/integration}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
	pretty-log-branch = log HEAD ^origin/integration --graph --stat --find-copies --date-order
	paragraph-diff = diff --word-diff-regex=[^[:space:]]

[push]
	default = upstream
	atomic = true

[rebase]
	autoSquash = true
	missingCommitsCheck = error

[pull]
	rebase = merges

[branch]
	sort = committerdate

[diff]
	tool = p4Diff

[merge]
	tool = p4Merge
	conflictstyle = diff3

[mergetool]
	keepBackup = false

[mergetool "p4Merge"]
	cmd = ~/.p4merge.sh "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	trustExitCode = true
	keepBackup = false

[difftool "p4Diff"]
	cmd = p4merge -le unix "$LOCAL" "$REMOTE"

[difftool "vsDiff"]
	cmd = code --diff --wait "$LOCAL" "$REMOTE"

[log]
	date = iso8601

# -*- mode: gitconfig -*-
# vim: set ft=gitconfig:
